<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIRTool.My.MySettings.DBDS" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\db.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
        <add name="SIRTool.My.MySettings.dbemailConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\dbemail.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
